/.pki/
/.usermin/
/.gnome2/
/.mozilla/
/cgi-bin/
/etc/
/fcgi-bin/
/homes/
/domains/
/default/
/error_docs/
/logs/
/Maildir/
/tmp/
nbproject/
/protected/runtime/
/var/
/vendor/
.idea/
.cache/
/storage/
.cache*
*cache
cache/
/.bash_logout
/.bash_profile
/.bashrc
/.virtualmin-src
/.git-ftp.log
/ssl.cert
/ssl.key
/nginx.conf
composer.lock
.htaccess
/httpdocs/assets/logo.png
/config/_config.php
/config/locale/en.csv
/config/locale/it.csv
/config/template/template-email-info.html
/config/template/template-invoice.html
/.rs/