==================== {summary} =====================
{client}: {registryTitle}
{productOrService}: {masterSummary}
{amountDue}: {currencyVal} {amountDueVal}
{sExpirationDate}: {sExpirationDateVal}
{sExpirationInDays}: {sExpirationInVal}
{recipientEmail}: {recipientEmailVal}
{phone}: {registryPhoneVal}
====================================================

========== {itemUnderExpiration} (e-mail) ==========
{header1}

{itemUnderExpirationEmailBody1}
{masterSummary}

{itemUnderExpirationEmailBody2}
{itemUnderExpirationEmailBody3}
{paymentUrl}

{footer}
====================================================

=========== {itemUnderExpiration} (SMS) ============
{smsRecipientEmail}: {smsRecipientEmailVal}
#STARTSMS#
{smsBodyItemUnderExpiration1}{smsBodyItemUnderExpiration2}{paymentUrl}{smsBodyItemUnderExpiration3}
#ENDSMS#
===================================================

========== {itemInDeactivation} (e-mail) ==========
{header1}

{itemInDeactivationEmailBody1}
{masterSummary}

{itemInDeactivationEmailBody2}
{itemInDeactivationEmailBody3}
{paymentUrl}

{footer}
===================================================

=========== {itemInDeactivation} (SMS) ============
{smsRecipientEmail}: {smsRecipientEmailVal}
#STARTSMS#
{smsBodyItemInDeactivation1}{smsBodyItemInDeactivation2}{paymentUrl}{smsBodyItemInDeactivation3}
#ENDSMS#
===================================================

====================== {itemPaid} =================
{markAsPaid}: {markAsPaidUrl}
===================================================

====================== {itemDead} =================
{markAsDead}: {markAsDeadUrl}
===================================================